<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mira"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="kHVC8pGEtCzymBTskOGQqGqD" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MRWelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MRMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MRTestActivity"
            android:label="@string/title_activity_mrtest"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MRHistoryActivity"
            android:label="@string/title_activity_mrhistory"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MRMyActivity"
            android:label="@string/title_activity_mrmy"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MRIndexActivity"
            android:label="@string/title_activity_mrindex"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MRFindActivity"
            android:label="@string/title_activity_mrfind"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MRWebViewActivity"
            android:label="@string/title_activity_mrweb_view"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <activity
            android:name=".MRLoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".MRInputAccountActivity"
            android:label="@string/title_activity_mrinput_account" >
        </activity>
        <activity
            android:name=".MRInputPasswordActivity"
            android:label="@string/title_activity_mrinput_password" >
        </activity>
        <activity
            android:name=".MRCompleteInfoActivity"
            android:label="@string/title_activity_mrcomplete_info" >
        </activity>
        <activity
            android:name=".MRGradesRuleActivity"
            android:label="@string/title_activity_mrgrades_rule" >
        </activity>
        <activity
            android:name=".MRUserInfoActivity"
            android:label="@string/title_activity_mruser_info" >
        </activity>
        <activity
            android:name=".MRMyChangesActivity"
            android:label="@string/title_activity_mrmy_changes" >
        </activity>
        <activity
            android:name=".MRSetActivity"
            android:label="@string/title_activity_mrset" >
        </activity>
        <activity
            android:name=".MRCityActivity"
            android:label="@string/title_activity_mrcity" >
        </activity>
        <activity
            android:name=".MRDetectionMenuActivity"
            android:label="@string/title_activity_mrdetection" >
        </activity>
        <activity
            android:name=".MRDetectionActivity"
            android:label="@string/title_activity_mrdetection" >
        </activity>

        <!-- 自动连接蓝牙的服务 -->
        <service android:name="com.service.BluetoothService" />

        <activity
            android:name=".MRRecommendActivity"
            android:label="@string/title_activity_mrrecommend" >
        </activity>
        <activity
            android:name=".MRPastRecordsActivity"
            android:label="@string/title_activity_mrpast_records" >
        </activity>
    </application>

</manifest>